body {
    font-family: sans-serif;
    background-color: rgb(231, 231, 231);
}

/** App **/

.App-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.App-filter {
    margin-bottom: 20px;
    text-align: center;
}

/** Logs **/

.Logs-container {
    /* */
}

.Logs-container .Logs-id {
    margin-bottom: 10px;
}

.Logs-container .Logs-logItem {
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 5px 10px rgb(193, 193, 193);
    word-break: break-all;
    transition: .3s;
    transition-property: padding;
}

.Logs-container .Logs-logPage {
    border: 1px dashed silver;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.Logs-container .Logs-logError {
    border: 1px solid red;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 20px;
}

.Logs-container .Logs-logWrap:last-child .Logs-logPage,
.Logs-container .Logs-logWrap:last-child .Logs-logError {
    margin-bottom: 0;
}

.Logs-empty {
    text-align: center;
}

@media (min-width: 1000px) {
    .Logs-container .Logs-logItem {
        border-radius: 3px;
        padding: 20px;
    }
}

